@use "../../utils/colors";
@use "../../utils/fonts";
@use "../../utils/mixins";

.thumbnail {
    @include mixins.flex(column, center, center);
    position: relative;
    aspect-ratio: 1;
    width: 100%;

    &-img {
        width: 100%;
        aspect-ratio: 1;
        object-fit: cover;
        object-position: center;
    }

    &-button {
        width: 100%;
        border: 0;
        background: colors.$dark;
        font-family: fonts.$body;
        font-size: 16px;
        color: white;
        padding: 5px;
    }
}