@use "../../utils/colors";
@use "../../utils/fonts";
@use "../../utils/mixins";

.thumbnail {
    @include mixins.flex(column, center, center);
    position: relative;
    aspect-ratio: 1;
    width: 18%;
    margin-bottom: 2.5%;

    &:nth-child(5n+1), &:nth-child(5n+2), &:nth-child(5n+3), &:nth-child(5n+4) {
        margin-right: 2.5%;
    }

    &:last-child {
        margin-right: auto;
    }

    &-img {
        width: 100%;
        aspect-ratio: 1;
        object-fit: cover;
        object-position: center;
    }

    &-button {
        width: 100%;
        border: 0;
        background: colors.$dark;
        font-family: fonts.$body;
        font-size: 16px;
        color: white;
        padding: 5px;
    }
}