@use "../../utils/mixins";

.home {
  @include mixins.flex(column, center, center);
  margin: 80px;

  &-images {
    display: grid;
    grid-gap: 60px;
    grid-template-columns: repeat(1, 1fr);

    @media screen and (min-width: 800px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (min-width: 1600px) {
        grid-template-columns: repeat(4, 1fr);
    }
  }

  &-buttons {
    @include mixins.flex;
    margin-top: 50px;

    & > *:first-child {
      margin-right: 20px;
    }
  }
}

#upload-hidden {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
}