@use './utils/colors';
@use './utils/mixins';
@use './utils/fonts';

body {
  @include mixins.flex;
  background-color: colors.$medium;
  font-family: 'Source Sans Pro', sans-serif;
}

.title {
  font-family: fonts.$heading;
  font-size: 50px;
  color: colors.$dark;
  text-align: center;
}